@font-face {
    font-family: "verdana-bold";
    src: url(../fonts/verdana-bold.ttf) format("truetype");
    font-style: bold;
    font-weight: 600;
}
@font-face {
    font-family: "verdana-regular";
    src: url(../fonts/verdana-regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}


* 
{
    margin: 0;
    padding: 0;
}

.container
{
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
    font-size: 18px;
    font-family: verdana-regular;
    font-weight: 400;
    background-image: url("../img/background.png");
    background-position: 50% 0%;
    background-size: cover
}

header
{
    height: 45px;
    max-width: 1064px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    text-align: left;
    padding: 0 34px;
}

.log
{
    transition: 0.5s;
}
.img_log
{
    float:left;
    height: 45px;
    width: 45px;
    background-image: url("../img/log.png");
    transition: 0.5s;
}
.log:hover .img_log
{
    background-image: url("../img/log_hover.png");
}
.log p
{
    display: block;
    float: left;
    margin-left: 15px;
    color: white;
    font-family: verdana-bold;
    font-weight: 600;
    font-size: 29px;
    line-height: 0.75;
    transition: 0.5s;
}
.log:hover p
{
    color: #f26522;
}
.log p span
{
    font-size: 18px;
}
header ul
{
    float: right;
    text-align: right;
}
header ul li
{
    line-height: 23px;
}
header a
{
    text-decoration: none;
    color: white;
}

footer div
{
    clear: both;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
}

.mainContent
{
    display: block;
    width: 100%;
    max-width: 1128px;
}
.imgElement
{
    display: block;
    float: left;
    margin-right: 35px;
    margin-left: 34px;
    margin-bottom: 40px;
    height: 263px;
    width: 307px;
}
.imgElement a
{
    display: block;
    text-decoration: none;
}
.imgBlock
{
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.slideText
{
    position: absolute;
    height: 0px;
    width: 100%;
    color: #fff;
    background-image: url("../img/Hover.png");
    padding-top: 0px;
    bottom: 0;
    transition: 0.5s;
}
.slideText p1
{
    font-size: 10px;
    padding-left: 20px;
    padding-top: 0px;
}
.slideText p2
{
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    padding-top: 0px;
}
.slideText p3{
  
    font-size: 14px;
    text-align: end;
    padding-left: 126px;
}
.imgText
{
    color: #fff;
    line-height: 63px;
    text-align: center;
    transition: 0.5s;
}

.imgElement:hover .slideText
{
    height: 63px;
    padding-top: 10px;
}
.imgElement:hover .imgText
{
    color: #f26522;
}

